h1 The Problem

p.c-dim
  For a given topic, you may reuse the same slides across different presentations.

p.c-dim
  Doing so, you end up copying and pasting content around all over the place.

p.c-dim
  If you improve the content in one presentation, you are still left
  with stale content in the others.
